@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
}

nav {
    z-index: 10001 !important;
}

.gradientBg {
    background: linear-gradient(99deg, #49EB06 0%, #117A65 100%);
}

.btnPrimary {
    @apply py-3 px-8 bg-secondary font-semibold text-white rounded hover:bg-emerald-900 transition-all duration-300;
}